.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom:0;
}
.header input{
    background-color: #091628;
    color: #e9e9e9; 
    border: none;
    font-size: 1.5em;
    outline:none;
    display:inline-block;
    box-sizing: border-box;
    padding-top:.1em;
}
.header button{
    margin-top: .7em;
    background-color: #48AB97;
    border:none;
    padding-top: .2em;
    padding-bottom:.1em;
    padding-right: .3em;
    padding-left: .3em;
    outline:none;
    cursor: pointer;
}
.header button:active{
    background-color: #5edfc5;
}
.header button img{
    height: 1.6em;
    width:auto;
}
.appcontainer{
    width:100%;
    padding-top:3em;
    display:inline-flex;
}
#dragbar{
    background-color:black;
    height:100%;
    width: .2em;
    cursor: col-resize;
    float:left;
 }
.appcontainer .sectionleft{
    background-color: #48AB97;
    width:30em;
    height:95vh;
    max-width: 50%;
    align-items: left;
    justify-content: left;
    flex-wrap:wrap;
    word-break: break-word;
}
.appcontainer .sectionleft #classtitle{
    background-color:#183764;
    color: #e9e9e9;
    padding-top:.3em;
    padding-bottom:.3em;
    width:100%;
    word-wrap: break-word;
    font-size: 1em;
    text-align:left;
    padding-left: .5em;
    box-sizing: border-box;
}
.appcontainer .sectionleft #sectiontitle{
    background-color:#FEB246;
    width:100%;
    word-wrap: break-word;
    font-size: .7em;
    box-sizing: border-box;
    outline:none;
    text-align:left;
}
.appcontainer .sectionleft .secttext{
    background-color: rgba(255, 255, 255, 0);
    overflow: visible;
    word-wrap: break-word;
    box-sizing: border-box;
    outline:none;
    text-align:left;
    padding-left: .5em;
    border:none;
}
.appcontainer .sectionleft .secttext .spaneditsection{
    font-size: 2em;
    font-weight:bold;
    padding-top:.8em;
    outline:none;
}
.appcontainer .sectionleft .collapsesect{
    background-color: rgba(255, 255, 255, 0);
    width:92%;
    overflow: visible;
    word-wrap: break-word;
    box-sizing: border-box;
    display:inline-block;
    cursor: pointer;
    outline:none;
    border:none;
}
.appcontainer .sectionleft #sectbutton{
    background-color:#ffcf8c;
    width:8%;
    height:3em;
    border:none;
    word-wrap: break-word;
    box-sizing: border-box;
    cursor: pointer;
    outline:none;
    text-align:center;
}
.appcontainer .sectionleft .spaneditdoc{
    font-size: 2em;
    font-weight:bold;
    outline:none;
}
.appcontainer .sectionleft #filetitle{
    background-color: white;
    outline:none;
    cursor: pointer;
    padding-bottom:.3em;
    width:100%;
    word-wrap: break-word;
    font-size: .6em;
    box-sizing: border-box;
    text-align:left;
    padding-left: .5em;
}
.appcontainer .sectionleft #filetitle:hover{
    background-color:#e9e9e9;
}
.appcontainer .sectionleft #settingbar{
    background-color: white;
    padding-bottom:.3em;
    height: 2.5em;
    width:100%;
    word-wrap: break-word;
    font-size: .7em;
    box-sizing: border-box;
    padding-left: .5em;
}
.sectioncontent{
}
.sectionleft #addfile{
    width:2em;
    height:2em;
}
.item{
    border-style:solid;
    border-width: .12em;
    border-color: black;
}
.item+.item{
    border-top: none;
}
.appcontainer .sectionright{
    background-color: #e9e9e9;
    width: fit-content;
    flex-grow: 1;
    max-width:100vw;
    height:95vh;
    overflow:hidden;
}
.sectionright #richtext{
    height:95vh;
    width: 100%;
    flex-grow: 1;
    display:inline-flex;
    background-color: white;
    overflow: scroll;
}
.sectionright #textEditInfo button{
    border:none;
    background-color:white;
    padding: .5em;
    margin-left:.1em;
    margin-right:.1em;
    outline:none;
}
.sectionright #textEditInfo button:hover{
    background-color:#e9e9e9;
}
.sectionright #textEditInfo button:active{
    background-color:#cfcfcf;
}
#foreColor{
    float:left;
}
#section{
    float:left;
    border-left: .05em solid;
    border-right: .05em solid;
    background-color: none;
    border-color:grey;
}
#section:nth-child(1){
    border-left: none;
}
#section +#section{
    border-left: none;
}
.sectionright #textEditInfo{
    background-color: white;
    height: 1.8em;
}
@media only screen and (max-width: 1020px) {
    .header #right a{
        font-size: 1em;
    }
    .header #left img{
        height: 1em;
    }
    .header input{
        font-size: 1em;
    }
    .header button img{
        height: .9em;
        width:auto;
    }
    .appcontainer{
        padding-top:2.4em;
    }
  }
  @media only screen and (max-width: 780px) {
    .header #right a{
        font-size: .8em;
    }
    .header #left img{
        height: .4em;
    }
    .header #left a{
        padding-top:0em;
    }
    .header input{
        font-size: .8em;
    }
    .header button img{
        height: .9em;
        width:auto;
    }    
    .header button{
        height: 1.2em;
        width: 1.2em;
        padding-top: 0em;
        padding-bottom:0em;
        padding-right: 0em;
        padding-left: 0em;
    }
    .appcontainer{
        padding-top:2em;
    }
  }