.classlist{
    /*background-color:#501F3A;
    margin-left:10%;
    margin-right:10%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom:2em;*/
    width: 90%;

    display: inline-flex;
    flex-wrap: wrap;
    overflow:hidden;
}
.main-container {
    min-height: 90vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 0m;
}
.center{
    background-color: #48AB97;
    margin-bottom: 3em;
}
.button{
    outline:none;
    background-color: #FEB246;
    display:inline-flex;
    float:left;
}
.button:hover{
    background-color: #ffc97d;
}
.classlist .classcard{
    align-items:center;
    padding:0;
    margin:0;
    padding: .1em .1em .1em .5em;
    display:inline-flex;
    float:left;
    width: 20%;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin-bottom: 2em;
}
.classlist .classcard h1{
    color:  white;
    font-weight: bold;
    font-size: 2em;
    text-align:left;
    width:15vw;
    word-wrap: break-word;
}
.classlist .classcard p{
    color:white;
    font-size: 1em;
    word-wrap: break-word;
    width:12vw;
    text-align:center;
}
.classlist .classcard img{
    width:8vw;
    height:auto;
}
.classlist .classcard #imgdiv{
    min-width: 100%;
    text-align:center;
    height:auto;
}