.classlist{
    /*background-color:#501F3A;
    margin-left:10%;
    margin-right:10%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom:2em;*/
    align-items:center;
    margin:0;
    background-color:red;
    overflow:hidden;
}
.classlist .classcard{
    align-items:center;
    padding:0;
    margin:0;
    padding-top: 1em;
    padding-bottom:1em;
    background-color:#102544;
    display:inline-flex;
    float:left;
    width: 20%;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin-bottom: 2em;
}
.classlist .classcard h1{
    color:  #DC8D80; 
    font-weight: bold;
    font-size: 2em;
    text-align:left;
    width:15vw;
    word-wrap: break-word;
}
.classlist .classcard p{
    color:#e9e9e9;
    font-size: 1em;
    word-wrap: break-word;
    width:12vw;
    text-align:center;
}
.classlist .classcard img{
    width:8vw;
    height:auto;
}
.classlist .classcard #imgdiv{
    min-width: 100%;
    text-align:center;
    height:auto;
}