.classlist{
    /*background-color:#501F3A;
    margin-left:10%;
    margin-right:10%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom:2em;*/
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 4em;
}
.main-container {
    min-height: 90vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 0m;
}
.center{
    background-color: #21ce99;
    color:white;
    margin-bottom: 3em;
    width: 90%;
}
.center h1{
    color:white;
    font-size: 4em;
    font-weight: normal;
    display:inline-flex;
    float:left;
    padding-bottom:1em;
}
.button{
    margin-top: 1.5em;
    margin-left: 1.5em;
    outline:none;
    background-color: #FEB246;
    display:inline-flex;
    float:left;
}
.button:hover{
    background-color: #ffc97d;
}
.classlist .classcard{
    align-items:center;
    padding:0;
    margin:0;
    display:inline-flex;
    float:left;
    width: 20%;
    margin-right: 2%;
    margin-left: 2%;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin-bottom: 2em;
    word-wrap: break-word;
}
.classlist .classcard input{
    color:  white;
    background-color: black;
    font-weight: bold;
    font-size: 2em;
    text-align:left;
    word-wrap: break-word;
    word-break: break-word;
    width:93%;
    border:none;
    padding: .1em .1em .1em .5em;
}
.headersect{
    top:0;
    background-color:black;
    flex-wrap:wrap;
    word-wrap: break-word;
    width:100%;
    min-width: 100%;
}

.classlist .classcard img{
    width:9vw;
    position:relative;
    height:auto;
}
.classlist .classcard #imgdiv{
    min-width: 100%;
    text-align:center;
    height:auto;
}