/*
black- #0B0C10
navy- #1F2833
other navy- #0F292F
lightgrey- #C5C6C7
brightblue- #66FCF1
blue- #45A29E
pink- #CB2D6F
darkpink- #501F3A
white- $CCCCCC
*/
*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
html{
    min-height:100%;
}
.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 1.8em;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    font-size: .6em;
    color: #e9e9e9;
    background-color: #0F292F;
    padding-right: 10px;
    padding-left: 10px;
    clear: both;
    overflow: hidden;
    z-index: 0;
}
body{
    min-height: 100%;
    overflow-x: hidden;
    background-color: #0b0c10;
}
.header{
    position: fixed;
    background-color: #102544;
    overflow:hidden;
    width:100%;
    display:inline-block;
}
.header #right a{
    transition: 0.3s;
    background-color: #102544;
    display:inline-block;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: .7em;
    padding-bottom: .5em;
    font-size: 1.2em;
    color: #e9e9e9;
    height:100%;
    margin:0;
}
.header #right{
    float:right;
}
.header #right a:link{
    text-decoration: none;
}
.header #right a:hover {
    background-color: #183764;
}
.header #left{
    float:left;
}
.header #left img{
    height: 1.30em;
}
.header #left a{
    color:#e9e9e9;
    transition: 0.3s;
    background-color: #102544;
    display:inline-block;
    font-size: 1.55em;
    padding-top:.3em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom:.05em;
}
.header #left a:link{
    text-decoration: none;
}
.header #left a:hover {
    background-color: #183764;
}
.center_container{
    width:100%;
    padding-top:2em;
    padding-bottom:15em;
    background-color:#48AB97;
}
.center{
    /*background-color:#501F3A;*/
    margin-top:5em;
    margin-left:10%;
    margin-right:10%;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom:3em;
    border-radius: 1em;
    font-family: 'Arimo', sans-serif;
}
.center p{
    color:#e9e9e9;
    font-size: 1.5em;
    text-align:left;
    margin-bottom: 1.5em;
}
.center h1{
    color:#e9e9e9;
    font-size: 4em;
    font-weight: normal;
    padding-bottom:1em;
}
#duck{
    width: 15em;
    float:right;
    margin-right:25em;
}
.center a img{
    height: auto;
    width: 30em;
    transition: 0.3s;
}
.center a img:hover{
    background-color: #2a665a;
}
.center hr{
    margin-top: .2em;
    height: .03em;
    background-color: #e9e9e9;
}
.subsection{
    /*background-color:#501F3A;
    margin-left:10%;
    margin-right:10%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom:2em;*/
    align-items:center;
    margin:0;
    background-color:#102544;
    overflow:hidden;
}
.subsection .section{
    align-items:center;
    padding:0;
    margin:0;
    padding-top: 3em;
    padding-bottom:10em;
    background-color:#102544;
    display:inline-flex;
    float:left;
    width: 33.3333%;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}
.subsection .section h1{
    color:  #DC8D80; 
    font-weight: bold;
    font-size: 2em;
    text-align:center;
    width:15vw;
    word-wrap: break-word;
}
.subsection .section p{
    color:#e9e9e9;
    font-size: 1em;
    word-wrap: break-word;
    width:12vw;
    text-align:center;
}
.subsection .section img{
    width:8vw;
    height:auto;
}
.subsection .section #imgdiv{
    min-width: 100%;
    text-align:center;
    height:auto;
}
.button {
    background-color: #501F3A;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}