*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
html{
    min-height:100%;
}
body{
    min-height: 100%;
    overflow-x: hidden;
    background-color: #48AB97;
}
.main{
    padding: 10px;
    text-align: center;
}
.container{
    display: inline-flex;
    width:100%;
    flex-wrap:wrap;
}
.image{
    min-width: 100%;
    text-align:center;
    margin-bottom: 1em;
}
img{
    width: 20em;
    text-align:center;
    display: inline-flex;
    justify-content: center;

}
.email{
    min-width: 100%;
    text-align:center;
}
.email input{
    width: 15em;
    margin-top: .25em;
    margin-bottom: .25em;
    text-align:center;
    display: inline-flex;
    justify-content: center;
    border-radius: 2em;
    font-size: 1.5em;
    outline: none;
    border: none;
}
.email p{
    color:white;
    font-size: 1.5em;
}
.password{
    min-width: 100%;
    text-align:center;
}
.password p{
    color:white;
    font-size: 1.5em;
}
.password input{
    width: 15em;
    margin-top: .25em;
    margin-bottom: .25em;
    text-align:center;
    display: inline-flex;
    justify-content: center;
    border-radius: 2em;
    outline:none;
    font-size: 1.5em;
    border: none;
}
.login{
    min-width: 100%;
    text-align:center;
    margin-top: .5em;
    margin-bottom: .5em;
}
.login button{
    width: 5em;
    text-align:center;
    display: inline-flex;
    justify-content: center;
    background-color: #FEB246;
    border-radius: 2em;
    color: white;
    padding-top: .05em;
    padding-bottom: .05em;
    outline: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
.login button:hover{
    background-color: #ffc36f;
}
.forgot{
    min-width: 100%;
    text-align:center;
}
.forgot a{
    color:white;
    font-size: .8em;
    margin-right: 3em;
    margin-left: 3em;
}